Repository boostcampwm-2021/web07-boostCam, pull requests merged in 2021-12, with the labels that each got.

#155 cam 삭제 기능 구현, cam 일부 리팩토링
  backend/src/cam/cam-inner.service.ts
  backend/src/cam/cam.controller.ts
  backend/src/cam/cam.dto.ts
  backend/src/cam/cam.entity.ts
  backend/src/cam/cam.service.ts
  frontend/src/App.tsx
  frontend/src/atoms/socket.ts
  frontend/src/components/Cam/CamMain.tsx
  frontend/src/components/Cam/Menu/ButtonBar.tsx
  frontend/src/components/Cam/SharedScreen/SharedScreenStore.tsx
  frontend/src/components/Login/LoginCallback.tsx
  frontend/src/components/Login/LoginMain.tsx
  frontend/src/components/Login/OAuthLogin.tsx
  frontend/src/components/Main/Cam/CamDeleteModal.tsx
  frontend/src/components/Main/Cam/CamList.tsx
  frontend/src/components/Main/Cam/CamListItem.tsx
  frontend/src/components/Main/ChannelListItem.tsx
  frontend/src/components/Main/ChannelModal/QuitChannelModal .tsx
  frontend/src/components/Main/ChannelModal/UpdateChannelModal.tsx
  frontend/src/components/common/OkCancelModal.tsx
  frontend/src/utils/sharedScreenReceiver.ts
  frontend/src/utils/sharedScreenSender.ts
Labels: frontend, backend, cam

#168 STT 오류 수정
  frontend/src/hooks/useSTT.ts
Labels: bug

#169 Fix : 코멘트를 받을 때 선택한 메시지가 존재하는지도 확인
  frontend/src/components/Main/MainSection.tsx
Labels: frontend
