Repository boostcampwm-2021/web07-boostCam, pull requests merged in 2021-11, with the labels that each got.

#41 배포 설정(미완)
  frontend/.env.development
  frontend/.env.production
  frontend/src/components/Cam/UserListTab.tsx
Labels: backend

#51 UserListTab과 ChattingTab 관련 버그 수정
  frontend/src/App.spec.tsx
  frontend/src/components/Cam/ChattingTab.tsx
  frontend/src/components/Cam/UserListTab.tsx
  frontend/src/components/Cam/UserScreen.tsx
  frontend/src/components/core/Draggable.tsx
Labels: bug, frontend

#94 backend에 mysql2와 typeorm 모듈 추가
  backend/package-lock.json
  backend/package.json
Labels: backend

#93 화면 공유 시 연결이 정리되지 않는 문제 수정
  frontend/src/components/Cam/SharedScreen/SharedScreenReceiver.ts
  frontend/src/components/Cam/SharedScreen/SharedScreenSender.ts
Labels: frontend, cam

#95 Feature/database initialize
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/ormconfig.ts
  backend/src/user/server.entity.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.module.ts
Labels: backend

#100 Cam 트랜지션 관련 최적화, 화면 공유 시 사용자 목록 켜지는 기능 추가
  frontend/src/assets/icons/background.svg
  frontend/src/components/Cam/ButtonBar.tsx
  frontend/src/components/Cam/Cam.tsx
  frontend/src/components/Cam/ChattingTab.tsx
  frontend/src/components/Cam/MainScreen.tsx
  frontend/src/components/Cam/SharedScreen/SharedScreenStore.tsx
  frontend/src/components/Cam/ToggleStore.tsx
  frontend/src/index.tsx
Labels: frontend

#97 emoticon, message 모듈 추가
  backend/src/app.module.ts
  backend/src/emoticon/emoticon.entity.ts
  backend/src/emoticon/emoticon.module.ts
  backend/src/message/message.entity.ts
  backend/src/message/message.module.ts
Labels: backend

#98 Channel 엔티티 설계
  backend/src/app.module.ts
  backend/src/channel/channel.entity.ts
  backend/src/channel/channel.module.ts
Labels: backend

#99 Comment 엔터티 설계
  backend/src/app.module.ts
  backend/src/comment/comment.entity.ts
  backend/src/comment/comment.module.ts
Labels: backend

#102 다른 사람이 말하는 중이면 하이라이트 되는 기능 구현
  backend/src/types/cam.ts
  frontend/src/components/Cam/ChattingTab.tsx
  frontend/src/components/Cam/STT/STTScreen.tsx
  frontend/src/components/Cam/STT/STTStore.tsx
  frontend/src/components/Cam/UserScreen.tsx
  frontend/src/hooks/useSTT.ts
  frontend/src/hooks/useUserMedia.ts
  frontend/src/types/cam.ts
Labels: frontend

#103 깃허브 로그인 구현 (세션 없음)
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/github.config.ts
  backend/src/login/login.controller.spec.ts
  backend/src/login/login.controller.ts
  backend/src/login/login.module.ts
  backend/src/login/login.service.spec.ts
  backend/src/login/login.service.ts
  backend/src/server/server.entity.ts
  backend/src/user/user.module.ts
  frontend/src/App.tsx
  frontend/src/atoms/user.ts
  frontend/src/components/LoginPage/LoginCallback.tsx
  frontend/src/components/LoginPage/OAuthLogin.tsx
  frontend/src/components/Main/CamRooms.tsx
  frontend/src/types/user.ts
Labels: frontend, backend

#105 BoostCamMain 페이지 및 필요한 컴포넌트 작성, 관련 API 간단히 작성
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.module.ts
  backend/src/channel/channel.service.ts
  backend/src/server/server.controller.ts
  backend/src/server/server.module.ts
  backend/src/server/server.service.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/hash.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/components/Cam/ButtonBar.tsx
  frontend/src/components/LoginPage/LoginMain.tsx
  frontend/src/components/Main/BoostCamMain.tsx
  frontend/src/components/Main/CamList.tsx
  frontend/src/components/Main/ChannelList.tsx
  frontend/src/components/Main/ContentsSection.tsx
  frontend/src/components/Main/MainHeader.tsx
  frontend/src/components/Main/MainSection.tsx
  frontend/src/components/Main/MainStore.tsx
  frontend/src/components/Main/RoomListSection.tsx
  frontend/src/components/Main/ServerListTab.tsx
  frontend/src/types/main.ts
  frontend/src/utils/SvgIcons.ts
Labels: frontend, backend, channel, main-section

#106 추가적인 Conflict 수정 / 기타 리뷰사항 반영
  backend/src/login/login.service.ts
  backend/src/server/repository/server.repository.ts
  backend/src/server/server.module.ts
  backend/src/server/service/server.service.ts
  backend/src/user-server/user-server.controller.ts
  backend/src/user-server/user-server.module.ts
  backend/src/user-server/user-server.repository.ts
  backend/src/user-server/user-server.service.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
  frontend/src/components/LoginPage/LoginCallback.tsx
  frontend/src/components/Main/CamList.tsx
  frontend/src/utils/SvgIcons.ts
Labels: bug, frontend, backend

#107 로그인 시 세션 연결
  backend/package-lock.json
  backend/package.json
  backend/src/login/login.controller.ts
  backend/src/login/login.guard.ts
  backend/src/login/login.module.ts
  backend/src/login/login.service.ts
  backend/src/main.ts
  backend/src/types/session.d.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  frontend/src/components/LoginPage/LoginCallback.tsx
Labels: backend

#124 메시지 전송 endpoint
  backend/.env.sample
  backend/src/message/message.controller.ts
  backend/src/message/message.entity.ts
  backend/src/message/message.module.ts
  backend/src/message/message.service.ts
Labels: backend

#127 채널 목록에서 cam을 생성, 조회할 수 있는 기능 구현
  backend/package-lock.json
  backend/package.json
  backend/src/cam/cam.gateway.ts
  backend/src/cam/cam.module.ts
  backend/src/cams/cams.controller.ts
  backend/src/cams/cams.dto.ts
  backend/src/cams/cams.entity.ts
  backend/src/cams/cams.module.ts
  backend/src/cams/cams.repository.ts
  backend/src/cams/cams.service.ts
  backend/src/server/server.controller.ts
  backend/src/server/server.module.ts
  frontend/src/components/Cam/Screen/UserScreen.tsx
  frontend/src/components/Main/Cam/CamList.tsx
  frontend/src/components/Main/Cam/CamListHeader.tsx
  frontend/src/components/Main/Cam/CamListItem.tsx
  frontend/src/components/Main/Cam/CreateCamModal.tsx
  frontend/src/components/Main/CamList.tsx
  frontend/src/components/Main/MainPage.tsx
  frontend/src/components/Main/MainStore.tsx
  frontend/src/components/Main/RoomListSection.tsx
  frontend/src/types/main.ts
Labels: frontend, backend, cam

#131 cam 모듈과 cams 모듈 병합, cam 입장 로직 정리
  backend/src/app.module.ts
  backend/src/cam/cam-inner.service.ts
  backend/src/cam/cam.controller.spec.ts
  backend/src/cam/cam.controller.ts
  backend/src/cam/cam.dto.ts
  backend/src/cam/cam.entity.ts
  backend/src/cam/cam.gateway.spec.ts
  backend/src/cam/cam.gateway.ts
  backend/src/cam/cam.module.ts
  backend/src/cam/cam.repository.ts
  backend/src/cam/cam.service.ts
  backend/src/cams/cams.controller.ts
  backend/src/cams/cams.dto.ts
  backend/src/cams/cams.module.ts
  backend/src/cams/cams.repository.ts
  backend/src/cams/cams.service.ts
  backend/src/server/server.controller.ts
  backend/src/server/server.module.ts
  frontend/public/nickname-form.jpg
  frontend/public/not-found.jpg
  frontend/src/App.tsx
  frontend/src/components/Cam/ButtonBar/ButtonBar.tsx
  frontend/src/components/Cam/Cam.tsx
  frontend/src/components/Cam/CamNotFound.tsx
  frontend/src/components/Cam/Nickname/NickNameForm.tsx
  frontend/src/components/Cam/Nickname/NicknameModal.tsx
  frontend/src/components/Main/Cam/CreateCamModal.tsx
  frontend/src/components/Main/CamRooms.tsx
  frontend/src/components/Main/MainStore.tsx
Labels: frontend, backend, cam

#137 cam 오류 핸들링 페이지 추가, url 복사 기능 구현, cam 최대 입장 인원 구현
  backend/src/cam/cam-inner.service.ts
  backend/src/cam/cam.controller.ts
  backend/src/cam/cam.service.ts
  frontend/public/pepes/pepe-1.jpg
  frontend/public/pepes/pepe-2.jpg
  frontend/public/pepes/pepe-3.jpg
  frontend/public/pepes/pepe-4.jpg
  frontend/public/pepes/pepe-5.jpg
  frontend/src/assets/icons/copy.svg
  frontend/src/components/Cam/Cam.tsx
  frontend/src/components/Cam/CamStore.tsx
  frontend/src/components/Cam/Menu/ButtonBar.tsx
  frontend/src/components/Cam/Menu/ChattingTab.tsx
  frontend/src/components/Cam/Menu/NicknameModal.tsx
  frontend/src/components/Cam/Menu/UserListTab.tsx
  frontend/src/components/Cam/Page/CamDefaultPage.tsx
  frontend/src/components/Cam/Page/CamErrorPage.tsx
  frontend/src/components/Cam/Page/CamLoadingPage.tsx
  frontend/src/components/Cam/Page/CamNickNameInputPage.tsx
  frontend/src/components/Cam/Page/CamNotAvailablePage.tsx
  frontend/src/components/Cam/Page/CamNotFoundPage.tsx
  frontend/src/components/Cam/Screen/DefaultScreen.tsx
  frontend/src/components/Cam/Screen/UserScreen.tsx
  frontend/src/components/Cam/SharedScreen/SharedScreenStore.tsx
  frontend/src/components/Main/Cam/CamListHeader.tsx
  frontend/src/components/Main/Cam/CamListItem.tsx
  frontend/src/components/Main/ChannelListHeader.tsx
  frontend/src/utils/SvgIcons.ts
Labels: frontend, backend, cam

#150 screen 배치 방식 변경, 기본 닉네임 구현
  backend/src/cam/cam-inner.service.ts
  backend/src/cam/cam.controller.ts
  backend/src/cam/cam.dto.ts
  backend/src/cam/cam.entity.ts
  backend/src/cam/cam.module.ts
  backend/src/cam/cam.service.ts
  frontend/src/components/Cam/Cam.tsx
  frontend/src/components/Cam/Menu/ButtonBar.tsx
  frontend/src/components/Cam/Menu/UserListTab.tsx
  frontend/src/components/Cam/Screen/DefaultScreen.tsx
  frontend/src/components/Cam/Screen/LocalUserScreen.tsx
  frontend/src/components/Cam/Screen/MainScreen.tsx
  frontend/src/components/Cam/Screen/UserScreen.tsx
  frontend/src/components/Main/Cam/CamListItem.tsx
  frontend/src/components/Main/Cam/CreateCamModal.tsx
Labels: frontend, backend, cam

#151 Thread 부분 소켓 연결
  backend/src/message.adapter.ts
  backend/src/message.gateway.ts
  frontend/src/components/Cam/CamStore.tsx
  frontend/src/components/Main/ContentsSection/ContentsSection.tsx
  frontend/src/components/Main/ContentsSection/ThreadSection.tsx
  frontend/src/components/Main/MainSection.tsx
  frontend/src/components/Main/MainStore.tsx
  frontend/src/types/comment.ts
Labels: frontend, backend, main-section
